<!-- 

<div class="row">
    <div *ngIf="isLoading">
      <h2>data is loading </h2>
    </div>
    <table *ngIf="!isLoading" class="table">
        <thead>
           <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Avaiable</th>
            <th></th>
           </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of books">
            <td>{{b.Id}}</td>
            <td>{{b.Title}}</td>
            <td>{{b.Price}}</td>
            <td>{{b.inStock}}</td>
            <td><button class="btn btn-default" (click)="navigateToDetails(b.Id)">Details</button></td>
          </tr>
        </tbody>
    </table>
</div> -->

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <button class="btn btn-danger" (click)="showTable()">Table</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-info" (click)="showGrid()">Grid</button>
  </div>
  <div class="col-md-3"></div>
</div>


<app-books-table *ngIf="isTable " [books$]="books$" (sendToDetailsEvent)="navigateToDetails($event)"></app-books-table>
<app-books-grid *ngIf="isGrid  " [books$]="books$" (sendToDetailsEvent)="navigateToDetails($event)"></app-books-grid>